@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Noto Serif", Serif;
  font-size: 15px;
  align-items: center;
  width: auto;
  height: auto;
  background-color: #f5f8f4;
  background-image: url("https://image.freepik.com/free-vector/light-green-elegant-watercolor-background_1055-2316.jpg");
  background-size: cover;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

h1,
h2,
h3 {
  font-family: "Varela Round", Sans-Serif;
  font-size: 48px;
}

.button {
  border-radius: 1em;
}

.top-section {
  margin: auto;
  text-align: center;
  padding: 50px;
}

.search-title {
  font-weight: bolder;
  font-family: "Ubuntu", sans-serif;
  text-shadow: 0 0 4px rgb(63, 117, 105);
  /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 0 0 4px rgb(43, 165, 104);
  -webkit-text-shadow: 0 0 4px rgb(43, 165, 104);
  font-size: 7vw;
  text-align: center;
  color: white;
  margin-top: 5px;
  font-family: "Ubuntu", sans-serif;
}

.search-form {
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.search-bar {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.nav-bar {
  font-family: "Varela Round", Sans-Serif;
}

.tile-container {
  float: left;
  width: 27%;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 5%;
  height: 65vh;
  font-size: 80%;
}

.cell {
  text-align: left;
}

.tile-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  align-items: center;
  border-radius: 8%;
  width: 100%;
  height: 25vh !important;
}

.tile-image:hover {
  opacity: 50%;
}

.park-list-title {
  font-size: 33pt;
  font-family: "Varela Round", Sans-Serif;
  align-items: center;
  width: auto;
  height: auto;
  text-align: center;
  font-weight: 900;
}

.image {
  position: relative;
}

.description {
  font-size: 18pt;
  margin-top: 25px;
  margin-left: 40px;
}

.index-description {
  border-radius: 0.2em;
  align-items: center;
  width: auto;
  height: auto;
  font-size: 18pt;
  margin-bottom: 10px;
}

#user-profile-card {
  align-items: center;
  width: auto;
  height: auto;
  margin-top: 20px;
  text-align: center;
  margin-left: 600px;
  display: inline-block;
  border-radius: 0.2em;
  background-color: white;
}

#park-form-id {
  margin-top: 30px;
  margin-left: 150px;
  margin-right: 150px;
}

.centered-text {
  margin-left: 2px;
}

.add-new-park {
  font-size: xx-large;
  font-weight: bold;
}

#park-review-form {
  align-items: center;
  width: auto;
  height: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 1em;
  box-shadow: 10px 10px 8px #888888;
}

.title-location {
  margin: auto;
}

.showpage-title {
  margin-top: 10px;
}

.showpage-pic {
  align-items: center;
  width: auto;
  height: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 1em;
  box-shadow: 10px 10px 8px #888888;
}

.park-show-title {
  font-family: "Varela Round", Sans-Serif;
  align-items: left;
  text-align: left;
  float: none;
  display: block;
  text-align: left;
  font-size: 2vw;
}

.park-show-location {
  font-family: "Noto Serif", Serif;
  align-items: left;
  text-align: left;
  width: auto;
  height: auto;
}

.park-tile-description {
  align-items: left;
  text-align: left;
  width: auto;
  height: auto;
  font-family: "Noto Serif", Serif;
  font-size: 15px;
}

.review-form-reviews {
  border: black solid 1px;
  border-radius: 1em;
  margin: 40px;
  padding: 10px;
}

.comment-text {
  padding: 10px;
}

.park-info-cell {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}

.park-list-title {
  text-align: center;
  width: auto;
  height: auto;
  float: none;
  display: block;
}

#card-holder {
  flex-wrap: wrap;
}

#logo-img {
  height: 30vh;
  width: auto;
}

.top-bar {
  background-color: rgb(91, 148, 148);
  color: white;
  border-bottom: 1px solid white;
}

#ul-top-bar.menu {
  background-color: rgb(91, 148, 148);
  color: white;
}

#profile-nav-bar {
  background-color: rgb(91, 148, 148);
  color: white;
}

#nav-link {
  color: white;
  background-color: rgb(91, 148, 148);
}

a {
  color: black;
}

.thumbs-down {
  margin-left: 20px;
}
