@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.tile-image {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  align-items: center;
  width: auto;
  height: auto;
  border-radius: 1em;
}

.showpage-pic {
  align-items: center;
  width: auto;
  height: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 1em;
  box-shadow: 10px 10px 8px #888888;
}

.park-list-title {
  font-size: 33pt;
  font-style: Georgia, serif;
  align-items: center;
  width: auto;
  height: auto;
  text-align: center;
  font-weight: 900;
}

body {
  align-items: center;
  width: auto;
  height: auto;
  background-color: #f5f8f4;
}

.callout {
  align-items: center;
  width: auto;
  height: auto;
  background-color: #dbdbdb;
  border-radius: 1em;
  margin-bottom: 30px;
  box-shadow: 10px 10px 8px #888888;
}

h1 {
  font-style: helvetica neue;
}

h5 {
  font-family: "Lucida Console", "Courier New", monospace;
  margin-left: 20px;
  font-weight: bold;
}

.module {
  width: auto;
  position: absolute;
  bottom: 65px;
  left: 50px;
  text-align: center;
  background: rgba(51, 49, 49, 0.8);
  border-radius: 10px;
  color: rgb(246, 241, 241);
}

.image {
  position: relative;
}

.description {
  font-size: 18pt;
  margin-top: 25px;
  margin-left: 40px;
}

.index-description {
  border: solid black 1px;
  border-radius: 0.2em;
  align-items: center;
  width: auto;
  height: auto;
  font-size: 18pt;
  margin-bottom: 10px;
}

#user-profile-card {
  margin-top: 20px;
  text-align: center;
  margin-left: 200px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 0.2em;
}

#park-form-id {
  margin-top: 30px;
  margin-left: 150px;
  margin-right: 150px;
}

.centered-text {
  margin-left: 2px;
}

.add-new-park {
  font-size: xx-large;
  font-weight: bold;
}

#park-review-form {
  align-items: center;
  width: auto;
  height: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 1em;
  box-shadow: 10px 10px 8px #888888;
}

aside {
  align-items: center;
  width: auto;
  height: auto;
}

.title-location {
  margin: auto;
}

.showpage-title {
  margin-top: 10px;
}

.park-show-title {
  align-items: center;
  text-align: center;
  width: auto;
  height: auto;
  font-weight: bolder;
  font-family: Georgia, serif;
}

.park-show-location {
  align-items: center;
  text-align: center;
  width: auto;
  height: auto;
}

.park-tile-description {
  align-items: center;
  text-align: center;
  width: auto;
  height: auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
