@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    -moz-tab-size: 4;
    tab-size: 4;
}

.tile-image {
    width: 800px;
    height: 600px;
    margin-left: 20px;
    border-radius: 1em;
}

.showpage-pic {
    width: auto;
    height: auto;
    margin-left: 20px;
    margin-top: 50px;
    position: relative;
    border-radius: 1em;
    box-shadow: 10px 10px 8px #888888;
}

.park-list-title {
    text-align: center;
    font-size: 30pt;
}


body {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #f5f8f4;
}

.callout {
    background-color: #CBDFBD;
    border-radius: 1em;
    margin-bottom: 20px;
    box-shadow: 10px 10px 8px #888888;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Lucida Console", "Courier New", monospace;
    margin-left: 20px;
    font-weight: bold;
}

.module {
    position: absolute;
    bottom: 75px;
    left: 50px;
    width: 50%;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    color: white;
}

.image {
    position: relative;
}

.description {
    font-size: 18pt;
    margin-top: 25px;
    margin-left: 40px;
}

.index-description{
    border: solid black 1px;
    border-radius: 0.2em;
    margin-top: 10px;
    margin-left: 20px;
    width: 800px;
    font-size: 18pt;
}
